html {
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
}

.container-main {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    height: 50%;
    background-color: #2d2d30;
}

.container {
    padding: 0px;
}

.batch-col {
    background-color: #333333;
    border-left-style: solid;
    border-left-width: 40px;
    border-color: #82ef5c;
    padding:10px;
}

.totals-col {
    background-color: #1a1a1a;
    padding: 10px;
}

#batchesLst {
    font-size: small;
    background-color: transparent;
    overflow-y: scroll;
    height: 1000px;
    width: 90%;
}

#totalLst {
    font-size: small;
    
    padding: 10px;
    flex-direction: column;
}

#scatterPlot {
    background-color: #1a1a1a;
    float: right;
}

.btn {
    background-color: #2d2d30;
    border-radius: 0px;
    border-style: solid;
    border-width: thin;
    border-color: #333333;
    color: #82ef5c;
    height: 100%;
    width: 120px;
    margin: 4px;
    align-self: center;
}

.form-select {
    margin: 4px;
    height: 100%;
    align-self: center;
    background-color: #1e1e1e;
    border-color: #b200ff;
    color: #f8f9fa;
    float: left;
}

.label {
    color: #9b9b9b;
    font-size: large;
    padding: 10px;
}

.card {
    background-color: #1e1e1e;
    color: #333333;
}

.card-header {
    background-color: #17a2b8;
    height: 40px;
    font-size: large;
}

.card-footer {
    background-color: transparent;
    height: 25px;
}

.card-content {
  height: 40px;
  color: #808080;
  font-size: large;
  margin: 10px;
}

mark {
    background-color: #2d2d30;
    color: #9b9b9b;
}

.axis path,
.axis line {
    fill: none;
    stroke: #b200ff;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: #ffffff;
    opacity: .5;
}

circle {
    fill: transparent;
    stroke: rgb(208 154 73);
    stroke-width: 2px;
}

.textPlots {
}
