html {
}

body {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

ul {
    height: 850px;
}

#batchesLst {
    font-size: small;
    background-color: #ffffff;
    padding: 6px;
    border-style: solid;
    border-width: thin;
    border-color: #c1c1c1;
    overflow-y: scroll;
}

#totalLst {
    font-size: small;
    background-color: #ffffff;
    border-style: solid;
    border-width: thin;
    border-color: #c1c1c1;
    padding: 0px;
}


.btn {
    background-color: #f8f9fa;
    border-style: solid;
    border-width: thin;
    border-color: #808080;
    color: #1e1e1e;
    height: 100%;
    width: 120px;
    margin: 4px;
    align-self: center;
}

.form-select {
    margin: 4px;
    height: 100%;
    align-self: center;
}

.label {
    color: #1e1e1e;
    font-size: x-large;
    padding: 20px;
}

