html {
}

body {
    font-family: 'Lucida Console';
    font-stretch: expanded;
    background-color: #202124;
}

.container-main {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    height: 50%;
    background-color: transparent;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.container {
    padding: 0px;
}


.batch-col {
    background-color: transparent;
    padding: 0px;
    padding-bottom: 10px;
    border-left-style: solid;
    border-left-width: 0px;
    border-color: #9b9b9b;
}

.totals-col {
    background-color: #151515;
    padding:0px;
}

#batchesLst {
    font-size: small;
    margin:10px;
    background-color: transparent;
    overflow-y: scroll;
    height: 1000px;
    width: 95%;
}

#totalLst {
    font-size: small;
    flex-direction: column;
}

#scatterPlot {
    background-color: #151515;
    float: right;
}

.btn {
    background-color: #333333;
    border-radius: 0px;
    border-style: solid;
    border-width: thin;
    border-color: #9b9b9b;
    color: #f8f9fa;
    height: 100%;
    width: 120px;
    margin: 4px;
    align-self: center;
}

.form-select {
    margin: 4px;
    height: 100%;
    align-self: center;
    background-color: #1e1e1e;
    border-color: #9b9b9b;
    border-radius: 0px;
    color: #f8f9fa;
    float: left;
}

.label {
    background-color: #0c70b4;
    color: #ffffff;
    font-size: large;
    padding: 4px;
    margin-top: 20px;
}

.card {
    background-color: #1e1e1e;
    color: #333333;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-header {
    background-color: #1a1a1a;
    height: 40px;
    font-size: large;
   
}

.card-footer {
    background-color: transparent;
    height: 25px;
}

.card-content {
  height: 40px;
  color: #808080;
  font-size: large;
  margin: 10px;
}

mark {
    background-color: #2d2d30;
    color: #9b9b9b;
}

.axis path,
.axis line {
    fill: none;
    stroke: #007acc;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: #ffffff;
    opacity: .5;
}

circle {
    fill: transparent;
    stroke: #9b9b9b;
    stroke-width: 2px;
}

.textPlots {
}
