@{
    ViewData["Title"] = "Home Page";
}

@model ControlVee.Port.InventoryManagement.DutShop.Models.MasterModel

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!--Can we move these?-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>


</head>
<body>

    <div class"container" style="padding: 10px;">
        <div id="lstItem" class="container border unstyled list-unstyled" style="width:175px; color: white;">
            <div class="form-text" style="color: #758a8f;">
                1213256
            </div><div id="flexSwitchCompleted" class="form-check form-switch d-inline-block" style="padding:0px;">
            <input class="form-check-input" type="checkbox" style=""></input></div> 
            <div class="badge bg-primary rounded-pill float-left" style="margin:14px;">' + value['Total'] + '</div>
            <div class="">' + value['Started'] + '</div>
        </div>
    </div>



    <div class="custom-control">

        <ul id="batcheslst" class="pre-scrollable list-group-horizontal d-flex flex-wrap justify-content-center"></ul>





    </div>

    <select id="nameOfDoughnutBatch" class="form-select" aria-label="Default select example">
        <option value="Classic Glazed">Classic Glazed</option>
        <option value="Strawberry PopTart">Strawberry PopTart</option>
        <option value="Chocolatte">Chocolatte</option>
        <option value="Capn Crunched">Capn Crunched</option>
        <option value="Emma noms">Emma noms</option>
        <option value="Shred Tha Gnar">Shred Tha Gnar</option>
        <option value="Sugar High">Sugar High</option>
    </select>
    <select id="quantityOfBatch" class="form-select" aria-label="Default select example">
        <option value="6">6</option>
        <option value="12">12</option>
        <option value="24">24</option>
        <option value="48">48</option>
    </select>
    <button id="createBatch" class="btn float-right">create batch</button>
    <button id="moveToInventory" class="btn float-right">move batch</button>
</body>
</html>
<script type="text/javascript">

    document.getElementById("createBatch").addEventListener("click", createBatchRecord, false);
    document.getElementById("moveToInventory").addEventListener("click", moveToInventory, false);
    window.addEventListener("load", getAllBatches, false);

    function createBatchRecord() {
        var nameOf = document.getElementById("nameOfDoughnutBatch").value;
        var total = document.getElementById("quantityOfBatch").value;
        $.ajax({
            type: 'POST',
            url: '/Home/CreateBatchRecord',
            dataType: 'json',
            data: "data=" + JSON.stringify({ id: 0, nameOf: nameOf, total: total }),
            success: function (data) {
                response = JSON.parse(data);
                console.log(response);
                $.each(response, function (key, value) {
                    var li =
                        $('<div class="container"><div id="flexSwitchCompleted" class="form-check form-switch float-left"><input class="form-check-input" type="checkbox"/><div class="form-text">'
                            + value['ID'] + '</div><div >' + value['NameOf'] + '</div><div><span class="badge bg-primary rounded-pill float-right">' + value['Total']
                            + '</span></div><div >' + value['Started'] + '</div></div></div>');
                    $('#batcheslst').removeData(key);
                    $('#batcheslst').append(li);

                });
            },
            error: function () { console.log("FAIL ON CREATE BATCH"); }

        });
    };

    function getAllBatches() {
        $.ajax({
            type: 'GET',
            url: '/Home/GetAllBatches',
            dataType: 'json',
            success: function (data) {
                response = JSON.parse(data);
                console.log(response);
                $.each(response, function (key, value) {
                    var li =
                        $('<div class="container border" style="margin:20px;  width:250px; padding:40px;"> <div id="flexSwitchCompleted" class="form-check form-switch float-left"><input class="form-check-input" type="checkbox"><div class="form-text">'
                            + value['ID'] + '</div><div >' + value['NameOf'] + '</div><div><span class="badge bg-primary rounded-pill float-right">' + value['Total']
                            + '</span></div><div >' + value['Started'] + '</div></div><div>');
                    $('#batcheslst').removeData(key);
                    $('#batcheslst').append(li);

                });
            },
            error: function () { console.log("FAIL ON CREATE BATCH"); }

        });
    };

    function moveToInventory() {

        @*
            Get toggled Ids.
            Pass toggled Ids to controller.
            Remove them from batch.
            Insert to inventory.

    

        *@
        $.each(
            document.getElementsByClassName("form-check-input"), function (key, value) {
                console.log(key, value['checked']);

                console.log(value['nextSibling']);

                var t = value['nextSibling'];
                console.log(t);


            }
        );

        @*$.ajax({
            type: 'POST',
            url: '/Home/MoveToInventory',
            dataType: 'json',
            data: "data=" + JSON.stringify({ id: 0, nameOf: nameOf, total: total }),
            success: function (data) {
                response = JSON.parse(data);
                console.log(response);
                $.each(response, function (key, value) {
                    var li =
                        $('<div id="flexSwitchCompleted" class="form-check form-switch float-left"><input class="form-check-input" type="checkbox"><div class="form-text">'
                            + value['ID'] + '</div><div >' + value['NameOf'] + '</div><div><span class="badge bg-primary rounded-pill float-right">' + value['Total']
                            + '</span></div><div >' + value['Started'] + '</div></div>');
                    $('#batchesLst').removeData(key);
                    $('#batchesLst').append(li);

                });
            },
            error: function () { console.log("FAIL ON CREATE BATCH"); }

        });*@
    };

</script>
